<div class="negocio-element-view-front">
	<a class="negocio-element-link" href="{{fields.view_node.content|striptags}}">
		<div class="negocio-title">
			{{fields.title.content}}
		</div>
		<div class="negocio-image">
			{{fields.field_image.content}}
		</div>
		<div class="negocio-address">
			{{fields.field_direccion.content}}
		</div>
		<div class="negocio-telefono">
			{{fields.field_telefono.label}}
			{{fields.field_telefono.content}}
		</div>
	</a>
</div>